body {
	background-color: white;
}

#previewDiv * {
	max-width: 100vw;
	max-height: 100vh;
}

#output {
	max-height: 300px;
	/*overflow: scroll;*/
}


#output {
  overflow-y: scroll;
  overscroll-behavior-y: contain;
  scroll-snap-type: y proximity;
}

#output:last-child {
  scroll-snap-align: end;
}
